body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    
}
.container {
    display: flex;
    /* justify-content: center;
    align-items: center;
    align-items: stretch ; */
    gap: 1.5rem;
    
}
img {
    object-fit: cover;
    height: 400px;
    width: 150px;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 10px lightgray;
    /* transition: all 1000ms ease-in-out; */
    
}
img:hover {
    /* transition: all 1000ms ease-in-out; */
    border-left: 1rem solid black;
    border-right: 1rem solid black;
    border-radius: 1rem;
    object-fit: fill;
    height: 400px;
    width: 600px;
}