body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}
section{
    margin-left: 20px;
}
h1 {
    font-size: 28px;
}

.inside{
    font-style: italic;
    
    
}
.outside{
    font-size: 24px;
}
