<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {% if request.user.is_authenticated %}
        <a href="#">{{ request.user.profile.first_name }}</a>
        <li>
            <a href="{% url 'logout_user' %}">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'login_user' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'register_user' %}">Register</a>
        </li>
    {% endif %}
</ul>
<h1>{{ request.user }}</h1>

{% block content %}
{% endblock %}

</body>
</html>