{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <title>GamesPlay</title>
    </head>

    <body>
        <div id="box">
            <header>

                <!-- Navigation Bar -->
                <h1><a class="home" href="{% url 'index' %}">GamesPlay</a></h1>
                <nav>

                    <!-- if the user has not created a profile -->
                    {% if no_profile %}
                        <a href="{% url 'profile_create' %}">Create Profile</a>
                    {% else %}

                        <!-- if the user has created a profile -->
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                        <a href="{% url 'game_create' %}">Create Game</a>
                        <a href="{% url 'profile_details' %}">Profile</a>
                    {% endif %}
                </nav>
            </header>

            <!-- headlines and default image -->
            {% block content %}
            {% endblock %}

            <!-- footer -->
            <footer>
                &copy;SoftUni Team 2022. All rights reserved.
            </footer>

        </div>
    </body>
</html>