<main>
    <h1>Create Accessory</h1>
    <div class="form">
        <form method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="name">Description</label>
            <textarea id="description" name="description"></textarea>
            <label for="image">ImageUrl</label>
            <input type="text" id="image" name="imageUrl">
            <input type="submit" value="Create">
        </form>
    </div>
</main>