<main>
    <h1>Attach a new accessory</h1>
    <div class="form">
        <h2>Rubiks Cube</h2>
        <img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/71WS9kb-JFL._SL1300_.jpg">
        <form action="" method="">
            <label for="accessory">Accessories</label>
            <select id="accessory" name="accessory" />
            <option value="Accessory 1">Accessory 1</option>
            <option value="Accessory 2">Accessory 2</option>
            <option value="Accessory 3">Accessory 3</option>
            <option value="Accessory 4">Accessory 4</option>
            <option value="Accessory 5">Accessory 5</option>
            </select>
            <input type="submit" value="Attach">
        </form>
        <h3 class="italic">This cube has all available accessories so far or there is no available at all...
        </h3>
        <a class="btn" href="#">Back</a>
    </div>
</main>