@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Great Vibes');
html{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;

}
h1, h2{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

