.btn {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: aliceblue;
    font-size: 20px;
}

.btn:hover {
    color: white;
    background-color: skyblue;
    cursor: pointer;
}
.disabled {
    background-color: gray;
    pointer-events: none;
}