<!--Details Page-->
{% extends 'base/base.html' %}
{% block page_content %}
{% load static %}
<section id="detailsPage">
    <div class="wrapper">

        <div class="albumCover">
            <!-- Album Image -->
            <img src="{{ album.image_url }}" alt="Cover Image">
        </div>

        <div class="albumInfo">

            <div class="albumText">
                <!-- Album Info -->
                <h1>Name: {{ album.album_name }}</h1>
                <h3>Artist: {{ album.artist }}</h3>
                <h4>Genre: {{ album.genre }}</h4>
                <h4>Price: {{ album.price|floatformat:2 }}</h4>
                <p>Description: {{ album.description }}</p>
            </div>

            <div class="actionBtn">
                <!-- Album Buttons -->
                <a href="{% url 'edit album' pk=album.pk %}" class="edit">Edit</a>
                <a href="{% url 'delete album' pk=album.pk %}" class="remove">Delete</a>
            </div>

        </div>
    </div>
</section>
{% endblock %}
