<!-- Catalog with Albums-->
{% extends 'base/base.html' %}
{% block page_content %}
<section id="catalogPage">
    {% if not albums %}
    <!--  If No albums in catalog -->
        <p>No Albums in Catalog!</p>
    {% else %}
    <!-- If albums in catalog -->
        <h1>All Albums</h1>
        <!-- First Card-Box in catalog -->
            {% for album in albums %}
                <div class="card-box">
                    <img src="{{ album.image_url }}" alt="Cover Image">
                    <div>
                        <div class="text-center">
                            <p class="name">Name: {{ album.album_name }}</p>
                            <p class="artist">Artist: {{ album.artist }}</p>
                            <p class="genre">Genre: {{ album.genre }}</p>
                            <p class="price">Price: {{ album.price|floatformat:2 }}</p>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'details album' pk=album.pk %}">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endif %}

</section>
{% endblock %}