<!--Details Page-->
{% extends 'base/base.html' %}
{% block page_content %}
<section id="detailsPage">
    <div class="wrapper">
        <div class="profilePage">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                 alt="Profile Image">
        </div>

        <div class="profileText">
            <!-- Profile Info -->
            <h1>Username: {{ profile.username }}</h1>
            <h1>Email: {{ profile.email }}</h1>
            <h1>Age: {{ profile.age }}</h1>
            <h1>Albums: {{ albums }}</h1>
        </div>

        <div class="actionBtn">
            <!-- Button for Deleting the Profile -->
            <a href="{% url 'profile delete' %}" class="remove">Delete</a>
        </div>

    </div>
</section>
{% endblock %}
