<!-- Delete Profile Page-->
{% extends 'base/base.html' %}
{% block page_content %}
<section id="detailsPage">
    <div class="wrapper">
        <div class="profileText">

            <!-- Delete Profile Form -->
            <h1>Are you sure you want to delete your profile?</h1>
            <form method="post">
                {% csrf_token %}
                <!-- Confirm Button -->
                <button class="delete-profile" type="submit">Delete</button>
            </form>
            <!-- End Delete Profile Form -->

        </div>
    </div>
</section>
{% endblock %}
