<div class="cube">
  <img class="cube" src="{{imageUrl}}" />
  <p class="name">{{name}}</p>
  <p><span>Difficulty level:</span>{{difficultyLevel}}</p>
  <a class="btn" href="/cubes/{{_id}}/details">Details</a>
</div>