<html lang="en">
  <!-- Starts Head Section -->

  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="images/free-30-instagram-stories-icons23_122570.png"
    />
    <title>Petstagram</title>
  </head>

  <!-- Starts Body Section -->

  <body>
    <!--Error Container-->

    <!-- <div>
        <div class="errorContainer">
            <p>Error</p>
        </div>
    </div> -->

    <!-- Starts Header Section with Navigation Bar -->
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="logo">
            <!-- Link to Home Page -->
            <a href="/">
              <img
                width="50px"
                src="/images/free-30-instagram-stories-icons23_122570.png"
                alt="img1"
              />
            </a>
            <!-- Link to Home Page -->
            <a class="home" href="/">
              <i>Petstagram</i>
            </a>
          </div>

          <div class="nav-links">
            <ul class="nav-group">
              <li class="nav-item">
                <!-- Link to Catalog Page -->
                <a href="#">
                  <i>Catalog</i>
                </a>
              </li>

              <!--For Guest User-->
              <li class="nav-item">
                <!-- Link to Login Page -->
                <a href="/users/login">
                  <i>Login</i>
                </a>
              </li>
              <li class="nav-item">
                <!-- Link to Register Page -->
                <a href="/users/register">
                  <i>Register</i>
                </a>
              </li>

              <!--For login users-->
              <li class="nav-item">
                <!-- Link to Add Photo Page -->
                <a href="#">
                  <i>Add Photo</i>
                </a>
              </li>

              <li class="nav-item">
                <!-- Link to Profile Page -->
                <a href="#">
                  <i>Profile</i>
                </a>
              </li>

              <li class="nav-item">
                <!-- Link to Logout Page -->
                <a href="/users/logout">
                  <i>Logout</i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {{{body}}}
    <div class="footer">
      <span class="footer-section">
        © 2023 SoftUni Back-End Exam
      </span>
    </div>

  </body>

</html>