
    <main>
        <!-- 404 page -->
        <div class="not-found-img">
            <img src="/images/zillow-404-page-5f3ed6a6abaa5.gif" alt="404 not found gif">
        </div>

        <div class="not-found">
            <h1>
                Uh oh,<br> something broke.
            </h1>

            <h3>Error 404 - page not found.</h3>
            <!-- Link to Home Page -->
            <a href="/">
                <button>Return to Petstagram</button>
            </a>
        </div>

    </main>
