<!-- Starts Main Section -->
<main>
  <!--Welcome Page-->
  <section class="welcome-content">
    <article class="welcome-content-text">
      <h1>Place for Your</h1>
      <h1 class="bold-welcome">Pets photos</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod.</p>
    </article>
    <article class="welcome-content-image">
      <img src="/images/header-dog.png" alt="dog" />
    </article>
  </section>

</main>