{% extends 'base/base.html' %}
{% block content %}
    <section id="create-page" class="auth">
        <div class="container">
            <h1>Are you sure you want to delete your profile?</h1>

            <!-- delete profile form -->
            <form id='delete' method="post" action="{% url 'delete profile' %}">
                {{ form }}
                {% csrf_token %}

                <!-- confirm button -->
                <input class="btn submit" type="submit" value="Delete">
            </form>
            <!-- end delete profile form -->

        </div>
    </section>
{% endblock %}