{% extends 'base/base.html' %}
{% block content %}
    <!-- edit game section -->
    <section id="create-page" class="auth">
        <!-- edit game form -->
        <form id="create" method="post" action="{% url 'edit game' pk=game.pk %}">
            <div class="container">
                <!-- Edit Game paragraph -->
                <h1>Edit Game</h1>
                {{ form }}
                {% csrf_token %}


                <!-- edit game button -->
                <input class="btn submit" type="submit" value="Edit Game">
            </div>
        </form>
    </section>
{% endblock %}
