{% extends 'base/base.html' %}
{% block content %}
    <!-- edit profile section -->
    <section id="register-page" class="content auth">
        <!-- edit profile form -->
        <form id="register" method="post" action="{% url 'edit profile' %}">
            <div class="container">
                <!-- Edit Profile paragraph -->
                <h1>Edit Profile</h1>
                {{ form }}
                {% csrf_token %}



                <!-- edit profile button -->
                <input class="btn submit" type="submit" value="Edit Profile">
            </div>
        </form>
    </section>
{% endblock %}
