<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Cubicle</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <li><img class="logo" src="/images/logo.png" /></li>
          <li><a href="/">Browse</a></li>
          <li><a href="/cubes/create">Add a Cube</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </header>
      {{{body}}}
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
  </body>

</html>