{% extends 'base/base.html' %}
{% block page_content %}
{#{% load static %}#}

  <section id="create-page" class="auth">

      <div class="container">
        <h1>Are you sure you want to delete your profile?</h1>
          <!-- Delete Profile Form -->
        <form id='delete' method="post" action="{% url 'profile delete' %}">
            {% csrf_token %}

        <!-- Confirm Button -->
        <input class="btn submit" type="submit" value="Yes">

        </form>
      </div>
    <!-- End Delete Profile Form -->
  </section>
  <!-- Footer -->

{% endblock %}
