body{
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: white;
}
article{
    margin: 54px;
    padding: 36px;
    border-radius: 16px;
    color: white;
    background-color: rgb(51, 102, 153);
    text-indent: 40px;
}

h1{
    font-family: Georgia, serif;
}