<main>
  {{#with cube}}
    <h1>{{name}}</h1>
    <img class="cube" src="{{imageUrl}}" />
    <div class="details">
      <p><span>Description:</span>
        {{description}}</p>
      <p><span>Difficulty level:</span>{{difficultyLevel}}</p>
      <a class="btn" href="/">Back</a>
    </div>
    <h2>Accessories</h2>
    <div class="accessories">
      <div class="accessory">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg"
          alt="stickerName"
        />
        <h3>Accessory Name</h3>
        <p>Accessory Description</p>
      </div>
      <div class="accessory">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg"
          alt="stickerName"
        />
        <h3>Accessory Name</h3>
        <p>Accessory Description</p>
      </div>
      <div class="accessory">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg"
          alt="stickerName"
        />
        <h3>Accessory Name</h3>
        <p>Accessory Description</p>
      </div>
      <h3 class="italic">This cube has no accessories yet...</h3>
    </div>
  {{/with}}
</main>