<h3>Hello, my first Angular application! Styles from app.component.css</h3>
<h4>Hello!Styles from style.css </h4>
<div>Test 123 from app.component</div>
<!-- const div = document.createElement('div');
    div.textContent = 'test123'; 

    const appRoot = document.detElementById("app-root");
    appRoot.appendChild(div); -->

<app-nav />
<!-- <app-nav></app-nav> -->
<app-navigation />
<app-user-list />
<app-playground color="{{ colorValueForPlayground }}" (onTestOutput)="onOutputFromChild($event)" />