
    <main>

        <!-- Start Register Section -->
        <div class="login-register-div">
            <div class="login-register-box">
                <h1>Petstagram</h1>

                <!-- Start Register Form -->
                <form method="POST">
                    <input type="text" name="username" value="{{username}}" placeholder="Username">

                    <input type="email" name="email" value="{{email}}" placeholder="Email">

                    <input type="password" name="password" placeholder="Password">

                    <input type="password" name="repeatPassword" placeholder="Repeat Password">

                    <!-- Register Button -->
                    <button type="submit">Register</button>
                </form>

            </div>
            <div class="second-option">

                <!-- Link to Login Page -->
                <p>Have an account? <a href="/users/login">LogIn</a></p>
            </div>
        </div>

    </main>
