<main>

    <!-- Start Login Section-->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Login Form-->
            <form method="POST">
                <p>
                    <label>Username:</label>
                    <input type="text" name="username" placeholder="Username">
                </p>
                <p>
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="Password">
                </p>

                <!-- Login Button-->
                <button type="submit">LogIn</button>
            </form>

        </div>
        <div class="second-option">

            <!-- Link to Register Page-->
            <p>Don't have account? <a href="/users/register">Register</a></p>
        </div>
    </div>

</main>