@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Monoton&display=swap');
#car-details {
    position: relative;
    display: block;
    width: 980px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;

}

#car-details>h1 {
    letter-spacing: 10px;
    font-family: 'Cinzel', serif;
    color: #E2E8EA;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.info-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.car-header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.car-header>h1 {
    color: #E2E8EA;
    margin-top: 5px;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.car-header>h4 {
    color: #E2E8EA;
    font-size: 23px;
    font-weight: 400;
}

.levels {
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 7px;
    border-radius: 5px;
    background-color: #b4b6ee;
    border: 1px solid rgba(218, 181, 181, 0.829);
}
.info-section>.description {
    margin-top: 30px;
    padding: 60px;
    height: 50%;
}

.description {
    font-size: 25px;
    color: #E2E8EA;
}

.car-img {
    width: 25%;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 55px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}


.buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
    transition: 0.5s;
    transition-property: box-shadow;

}

.edit-button, .delete-button {
    height: 15%;
    padding: 14px;
    margin-top: auto;
    font-size: 21px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 25px white;
    border-radius: 20px;
}
.edit-button{
    background: #3387C7;
}

.delete-button{
    background: red;
}

.edit-button:hover, .delete-button:hover {
    box-shadow: 0 0 100px white;
}