html{
    font-family: Helvetica, sans-serif
}
body{
    box-sizing: border-box;
    background: rgb(238, 238, 238);
    margin: 60px 80px;
}
img{
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 12px 3px rgb(0 0 0 /25%);
    padding: 17px;
    border: 4px solid

}
blockquote, h1, h2, h3{
    font-family: Georgia, serif;
}
h2{
    font-size: 1em;
    line-height: 1.2;
}
li {
    list-style: square;
}
aside li a{
    text-decoration: none;
    color: lightgreen;
}
.title{
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
}
/* main, aside{
    display: inline-block;
    vertical-align: top;

}
main {
    width: 70;
    padding-right: 80px;
}
aside{
    width: 28%;
} */

main {
    float: left;
    width: 70%;
    padding-right: 80px;
}
aside {
    float: right;
    width: 28%;
}
.right-img{
    float: right;
    margin: 0 0 7px 30px;
}

blockquote{
    font-style: italic;
    border-left: 3px solid lightgray;
    padding-left: 40px;
    width: 40%;
    float: right;
    line-height: 1.4;
}
/* blockquote::after{
    content: "";
    height: 100%;
    background: grey;
    display: inline-block;
} */
blockquote p{
    text-align: right;
}
.left-img{
    float: left;
    margin-right: 30px;
}