body{
    background-color: lightslategray;

}
p {
    width: 300px;
    padding: 20px;
    margin: auto;
    background-color: #0F4069;
    color: whitesmoke;
    border: 2px solid #e6eaef;
    border-top-left-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 50px;
    

    
}