.theme-name {
    border-bottom: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    background-color: #4ebced;
    padding-left: 0.5rem;
}



.username, .created-at {
    text-align: right;
}

.link{
    text-decoration: none;
    color: inherit;
}