<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
    <div class="container">
        <header>
            <ul>
                <li><img class="logo" src="/images/logo.png"></li>
                <li><a href="/">Browse</a></li>
                <li><a href="/create">Add a Cube</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        <main>
            <img id="sadFaceImg"
                src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2691-thumb.png"
                alt="sad face" />
            <h1>404</h1>
            <h2>Page not found</h2>
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>

</html>