<main>
  <h1>Create</h1>
  <div class="form">
    <form action="/cubes/create" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
      <label for="name">Description</label>
      <textarea id="name" name="description"></textarea>
      <label for="image">ImageUrl</label>
      <input type="text" id="image" name="imageUrl" />
      <label for="difficulty">Difficulty</label>
      <select id="difficulty" name="difficultyLevel">
        <option value="1">1 - Very Easy</option>
        <option value="2">2 - Easy</option>
        <option value="3">3 - Medium (Standard 3x3)</option>
        <option value="4">4 - Intermediate</option>
        <option value="5">5 - Expert</option>
        <option value="6">6 - Hardcore</option>
      </select>
      <input type="submit" value="Create" />
    </form>
  </div>
</main>