<main>
  <h1>{{cube.name}}</h1>
  <img
    class="cube"
    src="{{ cube.imageUrl }}"
  />
  <div class="details">
    <p><span>Description:</span>
      {{cube.description}}</p>
    <p><span>Difficulty level:</span>{{ cube.difficultyLevel }}</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>