<main>
  {{#with cube}}
    <h1>{{name}}</h1>
    <img class="cube" src="{{imageUrl}}" />
    <div class="details">
      <p><span>Description:</span>
        {{description}}</p>
      <p><span>Difficulty level:</span>{{difficultyLevel}}</p>
      <a class="btn" href="/">Back</a>
    </div>
  {{/with}}
</main>