<main>
  <h1>Browser</h1>
  <form action="" method="GET">
    <input type="text" class="search" name="search" placeholder="Search..." />
    <input
      type="number"
      name="from"
      class="difficulty"
      placeholder="Difficulty from..."
    />
    <span>-</span>
    <input
      type="number"
      name="to"
      class="difficulty"
      placeholder="Difficulty to..."
    />
    <input type="submit" value="search" />
  </form>
  {{#each cubes}}
    {{>cube}}
  {{else}}
    <p>There are no cubes yet!</p>
  {{/each}}

</main>