<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cubicle</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/create">Add a Cube</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </header>
    <main>
      <h1>Browser</h1>
      <form action="" method="">
        <input type="text" class="search" name="search" placeholder="Search...">
        <input type="number" name="from" class="difficulty" placeholder="Difficulty from...">
        <span>-</span>
        <input type="number" name="to" class="difficulty" placeholder="Difficulty to...">
        <input type="submit" value="search">
      </form>
      <div class="cube">
        <img class="cube" src="https://ae01.alicdn.com/kf/HTB1CSddXRxRMKJjy0Fdq6yifFXa6/Gan-356-Air-SM-3x3-Black-Magic-cube-GAN-Air-SM-Magnetic-3x3x3-Speed-cube-gans.jpg">
        <p class="name">Gan356 Air SM</p>
        <p><span>Difficulty level:</span> 3</p>
        <a class="btn" href="/details/5c39f1851ab3b24f5c03e182">Details</a>
      </div>
      <div class="cube">
        <img class="cube" src="https://thingsidesire.com/wp-content/uploads/2018/06/Eco-Dark-Rubik%E2%80%99s-Cube2.jpg">
        <p class="name">Eco-Dark</p>
        <p><span>Difficulty level:</span> 6</p>
        <a class="btn" href="/details/5c39f1851ab3b24f5c03e183">Details</a>
      </div>
      <div class="cube">
        <img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/61izOzq%2BBAL._SY355_.jpg">
        <p class="name">Pyraminx</p>
        <p><span>Difficulty level:</span> 1</p>
        <a class="btn" href="/details/5c3a6888f78d6638ec8fdad6">Details</a>
      </div>
      <div class="cube">
        <img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/61HpQqVQ37L._SY355_.jpg">
        <p class="name">Megaminx</p>
        <p><span>Difficulty level:</span> 3</p>
        <a class="btn" href="/details/5c3a68d9f78d6638ec8fdad7">Details</a>
      </div>

    </main>
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>