<aside>
    <div class="aside">
        <h2 class="title">
            Recent posts
        </h2>
        <div>
            <div class="aside-theme">
                <a href="#">
                    <h3>Angular 10</h3>
                    <p>Silvester</p>
                    <p><span>2020-10-14T10:11:52.264Z</span></p>
                </a>
            </div>
            <div class="aside-theme">
                <a href="#">
                    <h3>React hooks - Pros and cons</h3>
                    <p>Jane</p>
                    <p><span>2020-10-10T08:15:52.464Z</span></p>
                </a>
            </div>
            <div class="aside-theme">
                <a href="#">
                    <h3>React hooks - Pros and cons</h3>
                    <p>Stephen</p>
                    <p><span>2020-10-04T18:51:22.264Z</span></p>
                </a>
            </div>
            <div class="aside-theme">
                <a href="#">
                    <h3>Java Advanced</h3>
                    <p>Tom</p>
                    <p><span>2020-09-30T13:25:55.254Z</span></p>
                </a>
            </div>
            <div class="aside-theme">
                <a href="#">
                    <h3>JS Advanced course</h3>
                    <p>Pamela</p>
                    <p><span>2020-08-12T07:31:44.564Z</span></p>
                </a>
            </div>
        </div>
    </div>
</aside>
