<div class="userDetails">
  <div class="comment-data">
    <div class="profilepic">
      <div class="profile_img">
        <div class="image">
          <img src="/images/person.png" alt="img8" />
        </div>
      </div>
    </div>

    <p><b>{{user.username}}</b>- {{message}}</p>
  </div>
</div>
