.userDetails a {
    color: initial;
}

.pet-details {
    margin: 5px 0 5px -1px;
}

.comments {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.comments .userDetails {
    display: block !important;
}

.comments span {
    color: gray;
    font-size: 10px;
}

.comments h3 {
    display: flex;
    word-wrap: break-word;
    white-space: normal;
}

.comments .top {
    padding: 10px !important;
}

.comment-data {
    display: flex;
    font-size: 10px;
    word-break: break-all;
    white-space: normal;
    font-weight: bold;
    color: rgb(70, 65, 65);
}

.comment-data h3 {
    margin-top: 5px;
}

.comment-data p {
    margin-top: 4px;
    font-size: 13px;
    word-wrap: break-word;
    white-space: normal;
    font-weight: lighter;
}

.add-comment-details .addComments {
    margin-top: 0 !important;
}

.edit-delete-btns {
    position: absolute;
    top: 20px;
    right: 10px;
}

.edit-delete-btns img {
    width: 20px;
    margin-left: 5px;
}