<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>MyPlantApp</title>
</head>

<body>
<div id="box">
    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="#">MyPlants</a></h1>
        <nav>
            <a href="#">Catalogue</a>
            <a href="#">Create Plant</a>
            <a href="#">Profile</a>
        </nav>
    </header>

    <!-- Display paragraph: If there are no plants yet-->
        <p class="no-articles">No plants yet</p>

        <!-- Display div "plant" with information about every plant (if any)-->
        <section id="catalogue">

                <!-- first plant-->
                <div class="plant-card">
                    <div class="image-wrap">
                        <!-- plant image -->
                        <img src="http://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-rubber-tree-rubber-plant-ficus-elastica-small-plant-16969285337228.jpg?v=1634227743"
                             alt="Indoor Plants">
                    </div>
                    <!-- plant name -->
                    <h3>RubberPlant</h3>
                    <!-- plant description -->
                    <h1>A rubber tree plant...</h1>
                    <div class="details-buttons">
                        <!-- plant details button -->
                        <a href="#" class="details-btn">Details</a>
                    </div>
                </div>

            <!-- second plant-->
                <div class="plant-card">
                    <div class="image-wrap">
                        <!-- plant image -->
                        <img src="https://www.ikea.com/om/en/images/products/fejka-artificial-potted-plant-orchid-white__0748880_pe745269_s5.jpg?f=s"
                             alt="Indoor Plants">
                    </div>
                    <!-- plant name -->
                    <h3>Orchid</h3>
                    <!-- plant description -->
                    <h1>Orchids are plants t...</h1>
                    <div class="details-buttons">
                        <!-- plant details button -->
                        <a href="#" class="details-btn">Details</a>
                    </div>
                </div>

            <!-- third  plant-->
                <div class="plant-card">
                    <div class="image-wrap">
                        <!-- plant image -->
                        <img src="https://gradcontent.com/lib/400x296/pentas.jpg"
                             alt="Outdoor Plants">
                    </div>
                    <!-- plant name -->
                    <h3>Pentas</h3>
                    <!-- plant description -->
                    <h1>Pentas are also call...</h1>
                    <div class="details-buttons">
                        <!-- plant details button -->
                        <a href="#" class="details-btn">Details</a>
                    </div>
                </div>
        </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>