<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>MyPlantApp</title>
</head>

<body>
<div id="box">

    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="#">MyPlants</a></h1>
        <nav>
            <a href="#">Catalogue</a>
            <a href="#">Create Plant</a>
            <a href="#">Profile</a>
        </nav>
    </header>

  <section id="create-page" class="auth">

      <div class="container">
        <h1>Are you sure you want to delete your profile?</h1>
          <!-- Delete Profile Form -->
        <form id='delete'>
            <!-- Confirm Button -->
            <input class="btn submit" type="submit" value="Yes">

        </form>
      </div>
    <!-- End Delete Profile Form -->
  </section>
  <!-- Footer -->
  <footer>
      &copy;SoftUni Team 2022. All rights reserved.
  </footer>
  <!-- End Footer -->
</body>
</html>
