<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>MyPlantApp</title>
</head>

<body>
<div id="box">

    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="#">MyPlants</a></h1>
        <nav>
            <a href="#">Catalogue</a>
            <a href="#">Create Plant</a>
            <a href="#">Profile</a>
        </nav>
    </header>

    <!-- edit profile form -->
    <section id="register-page" class="content auth">
        <form id="register">
            <div class="container">
                <h1>Edit Profile</h1>

                <label for="username">Username:</label>
                <input type="text" name="username" value="SS1234" maxlength="6" readonly="" required="" disabled="" id="username">

                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" value="Svetoslava" maxlength="20" required="" id="first_name">

                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" value="Stoyanova" maxlength="20" required="" id="last_name">

                <label for="profile_picture">Profile Picture:</label>
                <input type="url" name="profile_picture" maxlength="200" id="profile_picture">

                <input class="btn" type="submit" value="Edit Profile">
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>
