<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>MyPlantApp</title>
</head>

<body>
<div id="box">
    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="#">MyPlants</a></h1>
        <nav>
            <a href="#">Catalogue</a>
            <a href="#">Create Plant</a>
            <a href="#">Profile</a>
        </nav>
    </header>

    <!-- details section -->
    <section id="plant-details">
        <h1>Plant Details</h1>
        <div class="info-section">
            <div class="plant-header">
                <!-- plant image -->
                <img class="plant-img"
                     src="https://www.ikea.com/om/en/images/products/fejka-artificial-potted-plant-orchid-white__0748880_pe745269_s5.jpg?f=s"
                     alt='plant image'/>
                <!-- plant type -->
                <h1>Indoor Plants</h1>
                <!-- plant name -->
                <p><span class="description-plant">Name: Orchid</span></p>
                <!-- plant price -->
                <p><span class="description-plant">Price: 10.00</span></p>
                <!-- plant description -->
                <p><span class="description-plant">Description: Orchids are plants that belong to the family Orchidaceae, a diverse and widespread group of flowering plants with blooms that are often colourful and fragrant.</span></p>
            </div>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="#" class="edit-button">Edit</a>
                <a href="#" class="delete-button">Delete</a>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>