<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>MyPlantApp</title>
</head>

<body>
<div id="box">

    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="#">MyPlants</a></h1>
        <nav>
            <a href="#">Catalogue</a>
            <a href="#">Create Plant</a>
            <a href="#">Profile</a>
        </nav>
    </header>

    <!-- profile details section -->
    <section id="plant-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="plant-header">
                <!-- default profile image (if the user does NOT have any)-->
                    <img class="plant-img" src="/static/images/default.jpg" alt='profile-image'/>
                <!-- if the user has a profile image -->
                    <img class="plant-img" src="" alt='profile-image'/>
                <!-- user full name -->
                <h1>Svetoslava Stoyanova</h1>

                <!-- user username -->
                <p class="description">Username: SS1234</p>

                <p class="description">Total stars:</p>
                <!-- if the user has only one plant -->
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <!-- if the user has two plants -->
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <!-- if the user has three or more plants -->
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <!-- if the user has zero plants -->
                <p class="description">Total stars: 0</p>

                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="#" class="edit-button">Edit</a>
                    <a href="#" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>