{% extends 'base.html' %}
{% block content %}

<section id="create-page" class="auth">
    <div class="container">
        <h1>Are you sure you want to delete your profile?</h1>

        <!-- delete profile form -->
        <form method="post" action="{% url 'profile_delete' %}" id='delete'>

            <!-- confirm button -->
            <input class="btn submit" type="submit" value="Delete">
            {% csrf_token %}
        </form>
        <!-- end delete profile form -->

    </div>
</section>
{% endblock %}
