<!DOCTYPE html>
<html lang="en">

<!-- Starts Head Section -->

<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/images/free-30-instagram-stories-icons23_122570.png">
    <title>Petstagram</title>
</head>

<!-- Starts Body Section -->

<body>

    <!-- Starts Header Section with Navigation Bar -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <!-- Link to Home Page -->
                    <a href="#">
                        <img width="50px" src="/static/images/free-30-instagram-stories-icons23_122570.png" alt="img1">
                    </a>

                    <!-- Link to Home Page -->
                    <a class="home" href="#">
                        <i>Petstagram</i>
                    </a>
                </div>

                <div class="nav-links">
                    <ul class="nav-group">
                        <li class="nav-item">
                            <!-- Link to Catalog Page -->
                            <a href="#">
                                <i>Catalog</i>
                            </a>
                        </li>

                        <!--For Guest User-->
                        <li class="nav-item">
                            <!-- Link to Login Page -->
                            <a href="#">
                                <i>Login</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- Link to Register Page -->
                            <a href="#">
                                <i>Register</i>
                            </a>
                        </li>

                        <!--For login users-->
                        <li class="nav-item">
                            <!-- Link to Add Photo Page -->
                            <a href="#">
                                <i>Add Photo</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Link to Profile Page -->
                            <a href="#">
                                <i>Profile</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Link to Logout Page -->
                            <a href="#">
                                <i>Logout</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Starts Main Section -->
    <main>
        <div class="container">
            <div class="col-9">
                <!-- Start Pet Photos Post Section -->
                <div class="card">

                    <!-- Start User Details and Image Location -->
                    <div class="top">
                        <div class="userDetails">
                            <!-- Link to User Profile Page -->
                            <a href="#" action="#" method="#">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="/static/images/person.png">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h3>
                                <!-- Link to User Profile Page -->
                                <p>
                                    <!-- show user username -->
                                    MayaB
                                </p>    
                                <!-- photo's location -->
                                <span>Bansko, Bulgaria</span>
                            </h3>
                        </div>
                    </div>

                    <!-- Start Pet Photo -->
                    <div class="imgBx">
                        <img src="/static/images/axolotl.jpeg" alt="post" class="cover">
                    </div>
                    <!-- Name of Pet -->
                    <h5 class="petName">Name: Sal</h5>
                    <!-- Age of Pet -->
                    <h5 class="petAge">Age: 4</h5>
                    <!-- Link to Photo Details Page -->
                    <a href="#" id="see-details">
                        <h4 class="details">See details</h4>
                    </a>
                </div>

                <div class="card">
                    <div class="top">
                        <!-- User Details and image location -->
                        <div class="userDetails">
                            <div>
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="/static/images/person.png" alt="img8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>
                                <p>
                                    <!-- if user's username -->
                                    AntoniaHristova
                                    <br>
                                    <!-- photo's location -->
                                    <span>Sofia, Bulgaria</span>
                                </p>

                            </h3>
                        </div>

                    </div>
                    <!-- Post image -->
                    <div class="imgBx" id="place the id of the photo here">
                        <img src="/static/images//dog-on-bed.jpg" alt="post" class="cover">
                    </div>
                    <!-- Name of Pet -->
                    <h5 class="petName">Name: Buck</h5>
                    <!-- Age of Pet -->
                    <h5 class="petAge">Age: 6</h5>
                    <!-- Link to Photo Details Page -->
                    <a href="#" id="see-details">
                        <h4 class="details">See details</h4>
                    </a>
                </div>

                <div class="card">
                    <div class="top">
                        <!-- User Details and image location -->
                        <div class="userDetails">
                            <div>
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="/static/images/person.png" alt="img8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>
                                <p>
                                    <!-- if user's username-->
                                    StevIvanov
                                    <br>
                                    <!-- photo's location -->
                                    <span>Dobrich, Bulgaria</span>
                                </p>

                            </h3>
                        </div>
                        <!--  -->
                    </div>
                    <!-- Post image -->
                    <div class="imgBx" id="place the id of the photo here">
                        <img src="/static/images/dog-on-road.jpg" alt="post" class="cover">
                    </div>
                    <!-- Name of Pet -->
                    <h5 class="petName">Name: Max</h5>
                    <!-- Age of Pet -->
                    <h5 class="petAge">Age: 2</h5>
                    <!-- Link to Photo Details Page -->
                    <a href="#" id="see-details">
                        <h4 class="details">See details</h4>
                    </a>
                </div>

                <!--If there are no photo yet!-->
                <article class="not-available-photo">
                    <h1>No photo posts yet.</h1>
                </article>
            </div>

        </div>
    </main>
    <!-- Start Footer Section -->
    <div class="footer">
        <span class="footer-section">
            © 2023 SoftUni Back-End Exam
        </span>
    </div>

</body>

</html>