<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->

<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/images/free-30-instagram-stories-icons23_122570.png">
    <title>Petstagram</title>
</head>

<!-- Starts Body Section -->

<body>

    <!-- Starts Header Section with Navigation Bar -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <!-- Link to Home Page -->
                    <a href="#">
                        <img width="50px" src="/static/images/free-30-instagram-stories-icons23_122570.png" alt="img1">
                    </a>

                    <!-- Link to Home Page -->
                    <a class="home" href="#">
                        <i>Petstagram</i>
                    </a>
                </div>

                <div class="nav-links">
                    <ul class="nav-group">
                        <li class="nav-item">
                            <!-- Link to Catalog Page -->
                            <a href="#">
                                <i>Catalog</i>
                            </a>
                        </li>

                        <!--For Guest User-->
                        <li class="nav-item">
                            <!-- Link to Login Page -->
                            <a href="#">
                                <i>Login</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- Link to Register Page -->
                            <a href="#">
                                <i>Register</i>
                            </a>
                        </li>

                        <!--For login users-->
                        <li class="nav-item">
                            <!-- Link to Add Photo Page -->
                            <a href="#">
                                <i>Add Photo</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Link to Profile Page -->
                            <a href="#">
                                <i>Profile</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Link to Logout Page -->
                            <a href="#">
                                <i>Logout</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Starts Main Section -->
    <main>
        <!-- Start Add Photo Section -->
        <div class="createPage">
            <h2>Add photo</h2>
            <!-- Start Add Photo Form -->
            <form action="">
                <p>
                    <input type="text" name="" placeholder="Name">
                </p>

                <p>
                    <input type="number" name="" placeholder="Age">
                </p>

                <p>
                    <textarea type="text" name="" placeholder="Description"></textarea>
                </p>

                <p>
                    <input type="text" name="" placeholder="Location">
                </p>

                <p>
                    <input type="text" name="" placeholder="Link to image">
                </p>
                <!-- Add Photo Button -->
                <button class="add-btn" type="submit">Add Photo</button>
            </form>
        </div>
    </main>

    <!-- Start Footer Section -->
    <div class="footer">
        <span class="footer-section">
            © 2023 SoftUni Back-End Exam
        </span>
    </div>

</body>

</html>