<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->

<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/images/free-30-instagram-stories-icons23_122570.png">
    <title>Petstagram</title>
</head>
<!-- Starts Body Section -->

<body>

    <!-- Starts Header Section with Navigation Bar -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <!-- Link to Home Page -->
                    <a href="#">
                        <img width="50px" src="/static/images/free-30-instagram-stories-icons23_122570.png" alt="img1">
                    </a>

                    <!-- Link to Home Page -->
                    <a class="home" href="#">
                        <i>Petstagram</i>
                    </a>
                </div>

                <div class="nav-links">
                    <ul class="nav-group">
                        <li class="nav-item">
                            <!-- Link to Catalog Page -->
                            <a href="#">
                                <i>Catalog</i>
                            </a>
                        </li>

                        <!--For Guest User-->
                        <li class="nav-item">
                            <!-- Link to Login Page -->
                            <a href="#">
                                <i>Login</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- Link to Register Page -->
                            <a href="#">
                                <i>Register</i>
                            </a>
                        </li>

                        <!--For login users-->
                        <li class="nav-item">
                            <!-- Link to Add Photo Page -->
                            <a href="#">
                                <i>Add Photo</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Link to Profile Page -->
                            <a href="#">
                                <i>Profile</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Link to Logout Page -->
                            <a href="#">
                                <i>Logout</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Starts Main Section -->
    <main>
        <div class="container">
            <div class="col-9">

                <!-- Start Pet Photo Post Section -->
                <div class="card">
                    <div class="top">

                        <!-- Start User Details and Image Location Section -->
                        <div class="userDetails">

                            <!-- Link to User Profile Details Page-->
                            <div>
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="/static/images/person.png" alt="img8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>

                                <!-- Link to User Profile Details Page -->
                                <p>
                                    <!-- User's username -->
                                    MayaM
                                </p>
                                <!-- photo's location -->
                                <span>Bansko, Bulgaria</span>

                                <!-- IF the viewer is the creator of the photo -->
                                <div class="edit-delete-btns">

                                    <!-- Edit Pet Photo -->
                                    <a href="#">
                                        <img class="edit-img" src="/static/images/edit-pen-icon-6.jpg"
                                            alt="edit button">
                                    </a>

                                    <!--Delete Pet Photo -->
                                    <a href="#">
                                        <img class="bin-img" src="/static/images/icon-remove-22.jpg" alt="bin button">
                                    </a>
                                </div>

                            </h3>
                        </div>

                    </div>

                    <!-- Start Pet Photo -->
                    <div class="imgBx">
                        <!-- Pet Photo -->
                        <img src="/static/images/axolotl.jpeg" alt="post" class="cover">
                    </div>



                    <div class="bottom">

                        <p class="message">
                            <b class="petDescription">This is my pet!</b>
                        </p>


                        <!-- Photo description -->
                        <div class="pet-details">
                            <p class="petName">Name: Sal</p>
                            <p class="petAge">Age: 4</p>
                        </div>
                        <div class="comments">
                            <div class="comments-top">
                                <div class="userDetails">
                                    <div class="comment-data">
                                        <div class="profilepic">
                                            <div class="profile_img">
                                                <div class="image">
                                                    <!-- User Profile Image -->
                                                    <img src="/static/images/person.png" alt="img8">
                                                </div>
                                            </div>
                                        </div>

                                        <!--User's username-->
                                        <p><b>StevIvanov</b>- OMG where can i get one</p>
                                    </div>
                                </div>
                                <div class="userDetails">
                                    <div class="comment-data">
                                        <div class="profilepic">
                                            <div class="profile_img">
                                                <div class="image">
                                                    <!-- User Profile Image -->
                                                    <img src="/static/images/person.png" alt="img8">
                                                </div>
                                            </div>
                                        </div>

                                        <!--User's username-->
                                        <p><b>StevIvanov</b>- OMG where can i get one</p>
                                    </div>
                                </div>
                                <div class="userDetails">
                                    <div class="comment-data">
                                        <div class="profilepic">
                                            <div class="profile_img">
                                                <div class="image">
                                                    <!-- User Profile Image -->
                                                    <img src="/static/images/person.png" alt="img8">
                                                </div>
                                            </div>
                                        </div>

                                        <!--User's username-->
                                        <p><b>StevIvanov</b>- OMG where can i get one</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addComments">
                        <!-- Start Add Comments Form -->
                        <form method="#" action="#">
                            <textarea id="comment-textarea" name="" cols="40" rows="10"
                                placeholder="Add comment..."></textarea>
                            <!-- Post Comments Button -->
                            <button type="submit">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Start Footer Section -->
    <div class="footer">
        <span class="footer-section">
            © 2023 SoftUni Back-End Exam
        </span>
    </div>

</body>

</html>