<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->

<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/images/free-30-instagram-stories-icons23_122570.png">
    <title>Petstagram</title>
</head>
<!-- Starts Body Section -->

<body>

    <!-- Starts Header Section with Navigation Bar -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <!-- Link to Home Page -->
                    <a href="#">
                        <img width="50px" src="/static/images/free-30-instagram-stories-icons23_122570.png" alt="img1">
                    </a>

                    <!-- Link to Home Page -->
                    <a class="home" href="#">
                        <i>Petstagram</i>
                    </a>
                </div>

                <div class="nav-links">
                    <ul class="nav-group">
                        <li class="nav-item">
                            <!-- Link to Catalog Page -->
                            <a href="#">
                                <i>Catalog</i>
                            </a>
                        </li>

                        <!--For Guest User-->
                        <li class="nav-item">
                            <!-- Link to Login Page -->
                            <a href="#">
                                <i>Login</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- Link to Register Page -->
                            <a href="#">
                                <i>Register</i>
                            </a>
                        </li>

                        <!--For login users-->
                        <li class="nav-item">
                            <!-- Link to Add Photo Page -->
                            <a href="#">
                                <i>Add Photo</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Link to Profile Page -->
                            <a href="#">
                                <i>Profile</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Link to Logout Page -->
                            <a href="#">
                                <i>Logout</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Starts Main Section -->
    <main>

        <!-- Start Profile Details Section -->
        <div class="profile">

            <!-- Start Profile Personal Data Section -->
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <img src="/static/images/person.png" alt="img8">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <!-- User Username -->
                        <p>d_kalaydzhiev</p>
                    </div>
                    <div class="data">

                        <!-- Total Number of Photos by the User -->
                        <span>4</span>
                        <p>photos</p>

                    </div>
                    <!-- User Email Address -->
                    <p class="email">d.denov@gmail.com</p>
                </div>
            </div>

            <!-- Start Uploaded Photos Section -->
            <div class="pet-photos">

                <!-- Link to Uploaded Pet Photo -->
                <a href="#">
                    <!-- Pet Photo -->
                    <img src="https://i.natgeofe.com/n/de94c416-6d23-45f5-9708-e8d56289268e/naturepl_01132178.jpg?w=636&h=631"
                        alt="pet img">
                </a>

                <!-- Link to Uploaded Pet Photo -->
                <a href="#">
                    <!-- Pet Photo -->
                    <img src="https://cf.ltkcdn.net/small-pets/images/orig/278587-1600x1066-goldfish-swimming-in-fish-tank.jpg"
                        alt="pet img">
                </a>

                <!-- Link to Uploaded Pet Photo -->
                <a href="#">
                    <!-- Pet Photo -->
                    <img src="https://thumbs.dreamstime.com/b/small-golden-retriever-puppy-6482030.jpg" alt="pet img">
                </a>

                <!-- Link to Uploaded Pet Photo -->
                <a href="#">
                    <!-- Pet Photo -->
                    <img src="https://i.pinimg.com/originals/4e/55/83/4e5583748bc4000805df50e4ebcafffc.png"
                        alt="pet img">
                </a>

                <!--If there are no photo yet!-->
                <article class="not-available-photo">
                    <h1>You haven't uploaded photos yet…</h1>
                </article>
            </div>

        </div>

    </main>

    <!-- Start Footer Section -->
    <div class="footer">
        <span class="footer-section">
            © 2023 SoftUni Back-End Exam
        </span>
    </div>

</body>

</html>