body {
    /* display: inline-block; */
    padding: 5rem;
    background-color: #eee;
}
.gallery{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
li {
    width: 18rem;
    display: inline-block;
    background-color: #fff;
    border: 0.4rem solid #000;
    padding: 1rem;
    vertical-align: middle;
    margin: 0.5rem;
}
img {
    display: block;
    width: 100%;
    height: auto;
}