{% extends 'base/base.html' %}
{% block content %}
{% load static %}
    <main>
        {% if fruits %}
        <!-- Dashboard Page -->
        <h2>Fruits</h2>
        <section id="dashboard">

            <!-- Display a div "fruit" with information about each post (if any)-->
            {% for fruit in fruits %}
            <!-- first fruit -->
            <div class="fruit">
                <!-- fruit image -->
                <img src="{{ fruit.image_url }}" alt="example1"/>
                <!-- fruit name -->
                <h3 class="title">{{ fruit.name }}</h3>
                <!-- fruit description -->
                {% if fruit.description|length <= 50 %}
                    <p>{{ fruit.description }}</p>
                {% else %}
                    <p>{{ fruit.description|slice:":50" }}</p>
                {% endif %}
                <!-- fruit details button -->
                <a class="details-btn" href="{% url 'details fruit' pk=fruit.pk %}">More Info</a>
            </div>
            {% endfor %}



        </section>
        {% else %}
        <h2>No fruit info yet.</h2>

        {% endif %}
    </main>
{% endblock %}
