{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <main>

        <!-- Fruit Details -->
        <section id="details">
            <div id="details-wrapper">
                <!-- fruit image -->
                <img id="details-img" src="{{ fruit.image_url }}" alt="example1"/>
                <!-- fruit name -->
                <p id="details-title">{{ fruit.name }}</p>
                <div id="info-wrapper">
                    <div id="details-description">
                        <!-- fruit description -->
                        {% if fruit.description|length <= 50 %}
                            <p>{{ fruit.description }}</p>
                        {% else %}
                            <p>{{ fruit.description|slice:":50" }}</p>
                        {% endif %}
                        <!-- fruit nutrition -->
                        <p id="nutrition">Nutrition</p>
                        <!-- fruit nutrition details -->
                        {% if fruit.description|length <= 50 %}
                            <p id="details-nutrition">{{ fruit.nutrition }}</p>
                        {% else %}
                            <p id="details-nutrition">{{ fruit.nutrition|slice:":50" }}</p>
                        {% endif %}

                    </div>

                    <!--Edit and Delete buttons -->
                    <div id="action-buttons">
                        <a href="{% url 'edit fruit' pk=fruit.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'delete fruit' pk=fruit.pk %}" id="delete-btn">Delete</a>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}