{% extends 'base/base.html' %}
{% block content %}
{% load static %}
    <main>

        <!-- Edit Profile Form -->

        <section id="register">
            <div class="form">
                <h2>Edit Profile</h2>
                <form class="register-form" method="post" action="{% url 'edit profile' %}">
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit">Edit</button>

                </form>
            </div>
        </section>

    </main>
{% endblock %}