<main>
    <div class="createPage">
        <h2>Add photo</h2>
        <form method="POST">
            <p>
                <input type="text" name="name" placeholder="Name">
            </p>

            <p>
                <input type="number" name="age" placeholder="Age">
            </p>

            <p>
                <textarea type="text" name="description" placeholder="Description"></textarea>
            </p>

            <p>
                <input type="text" name="location" placeholder="Location">
            </p>

            <p>
                <input type="text" name="image" placeholder="Link to image">
            </p>
            <!-- Add Photo Button -->
            <button class="add-btn" type="submit">Add Photo</button>
        </form>
    </div>
</main>