<main>
    <!-- Start Add Photo Section -->
    <div class="editPage">
        <h2>Edit photo</h2>
        <!-- Start Add Photo Form -->
        <form method="POST">
            <p>
                <input type="text" name="name" placeholder="Name" value="Sal">
            </p>

            <p>
                <input type="number" name="age" placeholder="Age" value="4">
            </p>

            <p>
                <textarea type="text" name="description" placeholder="Description">This is my pet!</textarea>
            </p>

            <p>
                <input type="text" name="location" placeholder="Location" value="Bansko, Bulgaria">
            </p>

            <p>
                <input type="text" name="image" placeholder="Link to image" value="/static/images/axolotl.jpeg">
            </p>
            <!-- Add Photo Button -->
            <button class="edit-btn" type="submit">Edit Photo</button>
        </form>
    </div>
</main>